
# Model unique ids for {{ args.geometry }} ({{ args.size }}{{ args.size_unit }})

Note, material information used:
{% for mat in args.material -%}
    {{ mat }}
{% endfor %}

{% for unique_id in items.unique_ids -%}
    {{ unique_id }}
{% endfor %}


