
A list of system users
======================

+----------------------+----------------------+----------------------+------------+--------------------------------+
| User name            | First name           | Surname              | Initials   | Email                          |
+======================+======================+======================+============+================================+
{% for user in users -%}
    | {{ "%-20s"|format(user.user_name) }} | {{ "%-20s"|format(user.first_name) }} | {{ "%-20s"|format(user.surname) }} | {{ "%-10s"|format(user.initials) }} | {{ "%-30s"|format(user.email) }} |
{% endfor -%}
+----------------------+----------------------+----------------------+------------+--------------------------------+
