
# Model results for query by material/geometry/size/temperature

{% for model in items -%}

## Summary for model {{ model.unique_id }}

### Basic quants

mx_tot: {{ model.mx_tot }}
my_tot: {{ model.my_tot }}
mz_tot: {{ model.mz_tot }}

vx_tot: {{ model.vx_tot }}
vy_tot: {{ model.vy_tot }}
vz_tot: {{ model.vz_tot }}

h_tot:   {{ model.h_tot }}
adm_tot: {{ model.adm_tot }}

### Energies

e_typical: {{ model.e_typical }}
e_anis:    {{ model.e_anis }}
e_ext:     {{ model.e_ext }}
e_demag:   {{ model.e_demag }}
e_exch1:   {{ model.e_exch1 }}
e_exch2:   {{ model.e_exch2 }}
e_exch3:   {{ model.e_exch3 }}
e_exch4:   {{ model.e_exch4 }}
e_tot:     {{ model.e_tot }}

### Geometry info

geometry: {{ model.geometry.name }}
size: {{ model.geometry.size }}{{ model.geometry.size_unit.symbol }} ({{ model.geometry.size_convention.symbol }})

### Materials

{% for material in model.materials -%}
    {{ material.submesh_id }}) {{ material.name }} @{{ material.temperature }}˚C
{% endfor %}

{% endfor %}