
A summary of all geometries on the system follows
=================================================

{% for geometry in geometries -%}
    {{ geometry.unique_id }}  {{ geometry.name }}  {{ geometry.size }}{{ geometry.unit }} ({{ geometry.size_convention }}) {{ geometry.description if geometry.description is not none else ""}}
{% endfor %}