
Summary for geometry {{ geometry.unique_id }}
=========================================================

Basic info
----------

name: {{ geometry.name }}
size: {{ geometry.size }}{{ geometry.size_unit.symbol }} ({{ geometry.size_convention.symbol }})

