# Summary for software

## Basic info


A list of all softwares
=======================

+----------------------+------------+----------------------+--------------------------------------------------------------------+
| Software name        | version    |  last modified       | description                                                        |
+======================+============+======================+====================================================================+
{% for software in softwares -%}
    | {{ "%-20s"|format(software.name) }} | {{ "%-10s"|format(software.version) }} | {{ "%-20s"|format(software.last_modified) }} | {{ "%-66s"|format(software.description) }} |
{% endfor -%}
+----------------------+------------+----------------------+--------------------------------------------------------------------+

