
Current ticket hash information
===============================

Hash code:            {{ ticket_hash.ticket_hash }}
Date/time of issue:   {{ ticket_hash.ticket_issued }}
Expiration date/time: {{ ticket_hash.ticket_timeout }}